.nav-item{

	padding-left: 30px;
	margin-bottom: 10px;
	font-size: 16px;

}

.nav-link{

	color: gray;

}

.form-inline{

	position: relative;
	right: 5%;

}

input[type="text"]{

	position: relative;
	left: 600px;
	border-radius: 5px;
	outline: 0;
	border: 0;
	height: 32px;

}

input[type="button"]{

	position: relative;
	left: 600px;
	background-color: transparent;
	color: rgb(21, 204, 21);
	border-color: rgb(21, 204, 21);
	border-radius: 5px;
	margin-left: 8px;
	outline: 0;

}

input[type="button"]:hover{

	background-color: rgb(21, 204, 21);
	color: white;
}

.carousel-inner img {
    
	width: 80%;
	height: 80%;
	position: relative;
	left: 10%;

}

.carousel-indicators{

	margin-bottom: 40px;

}

.carousel-control-prev{

	background-color: gray;
	margin-top: 15%;
	border-radius: 60%;

}

.carousel-control-next{

	background-color: gray;
	margin-top: 15%;
	border-radius: 60%;

}

.paineis-titulo{

	background-color: rgb(228, 225, 225);
	width: 80%;
	position: relative;
	padding-left: 5%;
	padding-bottom: 5%;
	padding-top: 5%;
	width: 100%;

}

.paineis{

	display: grid;
	grid-auto-flow: column;

}

.card{

	width: 90%;
	padding: 30px;

}

.card-header{

	width: 100%;

}

.card img{

	width: calc(100%/3);
	width: 100%;

}

.card button{

	color: white;
	background-color: rgb(95, 95, 214);
	border-color: transparent;
	outline: 0;

}

.form-group{

	width: 1000px;
	margin: 20px;

}

.form-group{

	max-width: 700px;
	margin: 20px auto;
	

}

.line-titulo h5{

	position: relative;
	background-color: white;
	display: inline-block;
	font-size: 30px;
	font-style: italic;
	text-align: center;text-transform: uppercase;
	padding: 0 30px;
	margin-left: 40%;
	margin-top: 5%;

}

.form-group .input-wraper{

	
	padding: 15px;
	

}

.w100{

	width: 100%;
	position: relative;
	right: 88%;

}

.form-group input[type=text]{

	width: 100%;
	border: 2px solid #ccc;
	height: 70px;
	font-size: 18px;
	line-height: 50px;
	padding-left: 20px;
	outline: 0;

}

.form-group textarea{

	font-size: 18px;
	width: 96%;
	border: 2px solid #ccc;
	height: 220px;
	padding: 20px;
	resize: none;
	outline: 0;
	border-radius: 15px;

}

section.form-group input[type=submit]{

	display: inline-block;
	cursor: pointer;
	outline: 0;
	margin-left: 120%;

}

.input-wraper	.btn1{

	display: block;
	line-height: 50px;
	background-color: #EB2D2D;
	border-bottom: 6px solid #B21E1E;
	text-decoration: none;
	text-align: center;
	color: white;
	width: 180px;
	font-size: 20px;
	font-style: italic;
	border-right: 0;
	border-left: 0;
	border-top: 0;
	margin-left: 40%;
	outline: 0;
	margin-bottom: 5%;
	margin-top: 5%;

}

.selecao{

	margin-bottom: 30px;

}

@media screen and (max-width: 768px){

	.paineis{

		display: inline-block;
		width: 100%;

	}

	.w100{

		width: 80%;
		
	}

	.form-group textarea{

		font-size: 18px;
		width: 76%;
		border: 2px solid #ccc;
		height: 220px;
		padding: 20px;
		resize: none;
		outline: 0;
		border-radius: 15px;

	
	}

	.selecao{

		width: 80%;
	
	}

	.btn1{

		position: relative;
		right: 38%;

	}

	.paineis-titulo{

		margin-right: 50%;

	}

	h5{

		position: relative;
		right: 40%;

	}

}

@media screen and (max-width: 600px){

	

	.w100{

		width: 70%;
		
	}

	.form-group textarea{

		font-size: 18px;
		width: 65%;
		border: 2px solid #ccc;
		height: 220px;
		padding: 20px;
		resize: none;
		outline: 0;
		border-radius: 15px;

	
	}

	.selecao{

		width: 68%;
	
	}

	.btn1{

		position: relative;
		right: 38%;

	}

}